.CharactersList .options {
  height: 5rem;
  margin: 0 5rem;
}

.CharactersList .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-row-gap: 1rem;
}

label, input[type='checkbox'] {
  cursor: pointer;
}

input[type='checkbox'] {
  appearance: none;
  margin: 2rem;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem;
  outline: solid #222 2px;
  position: relative;
}

input[type='checkbox']:checked {
  background: #222;
}

input[type='checkbox']:not(.popularity):checked:after {
  content: '';
  position: absolute;
  left: 45%;
  top: 25%;
  width: 25%;
  height: 50%;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg) translateX(-50%);
  -ms-transform: rotate(45deg) translateX(-50%);
  transform: rotate(45deg) translateX(-50%);
}

input[type='checkbox'].popularity:checked:after {
  content: '↓';
  font-size: 2rem;
  color: white;
  position: absolute;
  left: 20%;
  top: -15%;
  width: 25%;
  height: 50%;
}
input[type='checkbox'].popularity.asc:checked:after {
  content: '↑';
}